{% if settings.currency_enable %}
  <div class="dropdown right" id="currencies">
    <span data-toggle="dropdown" class="dropdown-toggle">
      {{ 'currency.currency' | t }}
      <span id="currency-current">{{ shop.currency }}</span>
    </span>
  </div>
{% endif %}
